<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699200374417-giibbdsplfalledupvjab88leuesusk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699200374417-giibbdsplfalledupvjab88leuesusk3</string>
	<key>API_KEY</key>
	<string>AIzaSyDiryE_aYqfnJrjvHJKRn7_5Hqc0ECZAs8</string>
	<key>GCM_SENDER_ID</key>
	<string>699200374417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tantan.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-flutter-7886a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-flutter-7886a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699200374417:ios:2e0605f52e2dbb8775a130</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-flutter-7886a.firebaseio.com</string>
</dict>
</plist>